<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Название </th>
        <th> Постер </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${films.isEmpty()}">
        <td colspan="2"> Нет доступных фильмов </td>
    </tr>
    <tr th:each="film : ${films}">
        <td><span th:text="${film.getTitle()}"> Title </span></td>
        <td><img th:src="${film.getPosterURL()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>